.info-container {
  .info__teamName-container {
    background-color: $dark-lvTwo;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info__teamName {
      @include text-style(24, 700, $white);
      font-family: $font-team;
    }

    .info__startDate {
      @include text-style(16, 400, $white);
      font-family: $font-team;
      padding: 16px;
    }
  }

  .info__teamList-container {
    background-color: $sixers;
    padding: 0 16px;
    overflow: auto;
    // margin-bottom: 100px;

    p {
      @include text-style(12, 400, $white);
    }

    .info__teamList-item {
      display: grid;
      height: 65px;
      border-bottom: 1px solid $white;
      transition: height 0.5s ease;

      &.th {
        grid-template-columns: repeat(7, 1fr);
        height: 50px;
        align-items: center;
        text-align: center;

        .photo {
          visibility: hidden;
        }

        .subInfo {
          visibility: hidden;
        }

        .style {
          grid-column: span 2;
        }
      }

      &.open {
        display: flex;
        flex-direction: column;

        height: 250px;
        overflow: hidden;

        padding: 10px 0;

        .info__item-btn {
          // opacity: 0.5;
          height: 50px;
          display: flex;
          position: relative;

          // p {
          //   text-decoration: line-through;
          // }

          .info__item {
            opacity: 0;

            &.subInfo {
              opacity: 1;

              .info__subInfo-text {
                opacity: 0;

                &.name {
                  @include text-style(18, 700);

                  opacity: 1;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }

      .info__item-btn {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;

        width: 100%;
        height: 65px;
        transition: opacity 0.5s ease;

        .info__item {
          &.photo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $white;

            transition: opacity 0.5s ease;
          }

          &.subInfo {
            display: grid;
            grid-template-columns: repeat(2, 2fr);

            .info__subInfo-text {
              &.number {
                text-align: end;
                padding-right: 3px;
              }
              &.position {
                text-align: start;
                padding-left: 3px;
              }
              &.name {
                grid-column: span 2;
              }
            }
          }

          &.nickname {
          }

          &.winRate {
          }

          &.attRate {
          }

          &.style {
            grid-column: span 2;
          }
        }
      }

      .info__item-detail {
        display: flex;

        width: 100%;
        height: 100%;

        .info__detail-img {
          flex-basis: 50%;
          background-color: #2d1b1b;

          width: 100%;
          height: 100%;
          overflow: hidden;
          display: block;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
          }
        }

        .info__detail-contents {
          flex-basis: 50%;
          background-color: #df3636;
        }
      }
    }
  }
}
